@keyframes header-h1 {
  0% {color: #fff;}
  10% {color: #ff9999;}
  20% {color: #ffcc99;}
  30% {color: #ffff99;}
  40% {color: #ccff99;}
  50% {color: #99ffb3;}
  60% {color: #99ffe6;}
  70% {color: #99e6ff;}
  80% {color: #ff99ff;}
  90% {color: #ff9999;}
  100% {color: #fff;}
}