// MIXIN ONLY
@mixin buttonNoDefault {
  cursor: pointer;
  outline: 0;
  border: 0;
}

@mixin buttonStyle {
  background: black;
  padding: 15px;
  border-radius: 10px;
  a {
    color: whitesmoke;
    font-size: 17px;
    font-weight: 400px;
    font-family: 'Montserrat', sans-serif;
  }
}