@import 'variables';
@import 'mixin';
@import 'fonts';
@import 'animation';

// NAVBAR
.navbar {
  padding: 0.75rem 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  nav {
    position: sticky;
  }
  &-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 50px;
      border-radius: 14px;
      pointer-events: none;
    }
  }
  &-links {
    display: flex;
    align-items: center;
    a {
      padding: 10px;
      color: white;
    }
    &-tree {
      padding-right: 20px;
    }
    &-join-btn {
      @include buttonNoDefault();
      @include buttonStyle();
      &:hover {
        background: $buttonHoverBg;
      }
    }
  }
}

// HEADER
.header {
  float: left;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  &-content {
    position: absolute;
    top: 45%;
    h1 {
      font-size: 70px;
      animation-name: header-h1;
      animation-duration: 8s;
      animation-iteration-count: infinite;
    }
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
}

// SLIDE
.slide {
  &-welcome-title{
    margin: 4% 5% 0;
    display: inline-flex;
    align-items: baseline;
    h1 {
      font-weight: 700;
      font-size: 60px;
    }
    &-time-n-date {
      display: flex;
      flex-direction: row;
      padding-left: 20px;
      align-items: baseline;
      &-wrapper {
        &-date {
          padding-right: 5px;
        }
        &-time {
          font-weight: lighter;
        }
      }
    }
  }
  &-news {
    display: flex;
    justify-content: center;
    padding-top: 14px;
    img {
      border-radius: $mediaBorderRadius;
    }
    &-big {
      border-radius: $mediaBorderRadius;
      width: 790px;
      height: 444.375px;
      background: url('../../imgs/news/prosperityday_thumbnail.png') no-repeat center;
      background-size: cover;
      transition: .4s;
    }
    &-small {
      padding-left: 4px;
      &-1 {
        img {
          width: 390px;
        }
      }
      &-2 {
        img {
          width: 390px;
        }
      }
    }
  }
}

// SECTION
.section {
  margin: 8% 7%;
  &-content{
    margin: 4% 0;
    #content-1 {
      display: flex;
      justify-content: space-around;
      margin-bottom: 7%;
      &-title {
        &-header {
          padding-bottom: 9px;
          &-text {
            padding-bottom: 3px;
          }
          &-lvl {
            padding-bottom: 10px;
            &-name {
              font-family: 'Pusab';
              font-size: 20px;
            }
          }
        }
        &-btn {
          @include buttonNoDefault();
          @include buttonStyle();
          display: flex;
          align-items: center;
          a {
            padding-right: 7px;
          }
          i {
            color: #fff;
          }
          &:hover {
            background: $buttonHoverBg;
          }
        }
      }
      &-video {
        background-color: #F3F3F3;
        width: 500px;
        height:fit-content;
        border-radius: $mediaBorderRadius;
        transition: .5s;
        video {
          width: 500px;
          border-radius: $mediaBorderRadius;
        }
        &-info {
          padding: 2px 0 6px;
          &-date {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: center;
          }
        }
        &:hover {
          box-shadow: $mediaBoxShadow;
        }
      }
    }
    &:hover {
      box-sizing: $mediaBoxShadow;
    }
  }
  h2 {
    font-size: 35px;
  }
}

// FOOTER
.footer {
  user-select: none;
  background: url('../../imgs/general/footer-bg.png') no-repeat center;
  background-size: cover;
  padding: 13px;
  &-body {
    padding: 4%;
    &-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 1%;
      i {
        color: #fff;
        font-size: 60px;
        padding: 0 12px 0 12px;
      }
    }
  }
  h5 {
    text-align: center;
    color: #fff;
  }
  p {
    padding-top: 8px;
    text-align: center;
    color: #fff;
  }
  a {
    text-decoration: underline;
    color: #fff;
  }
}