@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background: #C1C1C1;
}

@font-face {
  font-family: Pusab;
  src: url("../../fonts/PUSAB___-webfont.ttf");
}
.navbar {
  padding: 0.75rem 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar nav {
  position: sticky;
}
.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-logo img {
  width: 50px;
  border-radius: 14px;
  pointer-events: none;
}
.navbar-links {
  display: flex;
  align-items: center;
}
.navbar-links a {
  padding: 10px;
  color: white;
}
.navbar-links-tree {
  padding-right: 20px;
}
.navbar-links-join-btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  background: black;
  padding: 15px;
  border-radius: 10px;
}
.navbar-links-join-btn a {
  color: whitesmoke;
  font-size: 17px;
  font-weight: 400px;
  font-family: "Montserrat", sans-serif;
}
.navbar-links-join-btn:hover {
  background: #333;
}

.header {
  float: left;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
}
.header-content {
  position: absolute;
  top: 45%;
}
.header-content h1 {
  font-size: 70px;
  text-align: center;
  animation-name: header-h1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.slide-welcome-title {
  margin: 4% 5% 0;
  display: inline-flex;
  align-items: baseline;
}
.slide-welcome-title h1 {
  font-weight: 700;
  font-size: 60px;
}
.slide-welcome-title-time-n-date {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  align-items: baseline;
}
.slide-welcome-title-time-n-date-wrapper-date {
  padding-right: 5px;
}
.slide-welcome-title-time-n-date-wrapper-time {
  font-weight: lighter;
}
.slide-news {
  display: flex;
  justify-content: center;
  padding-top: 14px;
}
.slide-news img {
  border-radius: 0.5rem;
}
.slide-news-big {
  border-radius: 0.5rem;
  width: 790px;
  height: 444.375px;
  background: url("../../imgs/news/prosperityday_thumbnail.png") no-repeat center;
  background-size: cover;
  transition: 0.4s;
}
.slide-news-small {
  padding-left: 4px;
}
.slide-news-small-1 img {
  width: 390px;
}
.slide-news-small-2 img {
  width: 390px;
}

.section {
  padding: 8% 0 0 0;
}
.section-content {
  margin: 4% 0 0 0;
}
.section-content #content-1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7%;
}
.section-content #content-1-title-header {
  padding-bottom: 9px;
}
.section-content #content-1-title-header-text {
  padding-bottom: 3px;
}
.section-content #content-1-title-header-lvl {
  padding-bottom: 10px;
}
.section-content #content-1-title-header-lvl-name {
  font-family: "Pusab";
  font-size: 20px;
}
.section-content #content-1-title-btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  background: black;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.section-content #content-1-title-btn a {
  color: whitesmoke;
  font-size: 17px;
  font-weight: 400px;
  font-family: "Montserrat", sans-serif;
}
.section-content #content-1-title-btn a {
  padding-right: 7px;
}
.section-content #content-1-title-btn i {
  color: #fff;
}
.section-content #content-1-title-btn:hover {
  background: #333;
}
.section-content #content-1-video {
  background-color: #F3F3F3;
  width: 500px;
  height: fit-content;
  border-radius: 0.5rem;
  transition: 0.5s;
}
.section-content #content-1-video video {
  width: 500px;
  border-radius: 0.5rem;
}
.section-content #content-1-video-info {
  padding: 2px 0 6px;
}
.section-content #content-1-video-info-date {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.section-content #content-1-video:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.section-content #content-2 {
  background: url("../../imgs/general/stars-png.png") no-repeat center;
  background-size: cover;
  padding: 63.594px 0;
}
.section-content #content-2-title {
  padding: 0 95px;
}
.section-content #content-2-title-header {
  color: #fff;
}
.section-content #content-2-title-header-member {
  padding-top: 8px;
}
.section-content #content-2-title-header-member-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}
.section-content #content-2-title-header-member-child img {
  width: 100px;
  padding-bottom: 4.5px;
  pointer-events: none;
}
.section-content #content-2-title-header-member-child h3 {
  text-align: center;
}
.section-content #content-2-title-header-member-child a {
  color: #fff;
}
.section-content #content-2-title-header-member-child div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 199px;
}
.section-content #content-2-title-header-member-child .card {
  box-sizing: border-box;
  height: 150px;
}
.section-content:hover {
  box-sizing: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.section h2 {
  font-size: 35px;
}

.footer {
  user-select: none;
  background: url("../../imgs/general/footer-bg.png") no-repeat center;
  background-size: cover;
  padding: 13px;
}
.footer-body {
  padding: 4%;
}
.footer-body-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1%;
}
.footer-body-links i {
  color: #fff;
  font-size: 60px;
  padding: 0 12px 0 12px;
}
.footer h5 {
  text-align: center;
  color: #fff;
}
.footer p {
  padding-top: 8px;
  text-align: center;
  color: #fff;
}
.footer a {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 1300px) {
  .header-content h1 {
    font-size: 50px;
  }
  .slide-news-big {
    width: 710px;
    height: 364.375px;
  }
  .slide-news-big a {
    width: 710px;
    height: 364.375px;
  }
  .slide-news-small-1 img {
    width: 320px;
  }
  .slide-news-small-1 a {
    width: 320px;
  }
  .slide-news-small-2 img {
    width: 320px;
  }
  .slide-news-small-2 a {
    width: 320px;
  }
  .slide h1 {
    font-size: 50px;
  }
  .section h2 {
    font-size: 1.5em;
  }
}
@keyframes header-h1 {
  0% {
    color: #fff;
  }
  10% {
    color: #ff9999;
  }
  20% {
    color: #ffcc99;
  }
  30% {
    color: #ffff99;
  }
  40% {
    color: #ccff99;
  }
  50% {
    color: #99ffb3;
  }
  60% {
    color: #99ffe6;
  }
  70% {
    color: #99e6ff;
  }
  80% {
    color: #ff99ff;
  }
  90% {
    color: #ff9999;
  }
  100% {
    color: #fff;
  }
}

/*# sourceMappingURL=main.css.map */
